{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "accommodation">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="block">
          <div>
            <h1>{{ $data.accommodation.title }}</h1><br>
            <h4>{{ $data.accommodation.paragraph }}</h4>
            {{ range $data.accommodation.texts }}
            <p align = "justify">{{.text}}</P>
            {{ end }}<br>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tbody>
                {{ range $data.accommodation.events.eventsList }}
                <tr>
                  <td>{{.type | markdownify}}</td>
                  <td>{{.info | markdownify}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <div>
            <p align = "justify">{{ $data.accommodation.text }}</P>
            <p align = "justify">{{ $data.accommodation.contactText }} <a href="mailto:{{ $data.support.email }}">{{ $data.accommodation.person }}</a>.</P>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
