{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "full-program">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="block">
          <div>
            <div>
              <h1>DEBS 2020 Full Program</h1>
            </div>
            <div style="margin-bottom:30px; margin-top:50px;">
              {{ "<!-- Main Script -->" | safeHTML }}
              {{ $script := resources.Get "js/timezone.js" | minify}}

              <select id="sel" onchange="show(this)">
                  <option value="Default">-- Select the timezone! --</option>
                  <script src="{{ $script.Permalink }}"></script>
              </select>
            </div>
            <div>
              <table class="table table-bordered table-hover text-center">
                <thead class="bg-gray">
                  <tr>
                    <th style="width:10%;" class="text-center">Time</th>
                    <th style="width:18%;" class="text-center">Mon, 13 July</th>
                    <th style="width:18%;" class="text-center">Tue, 14 July</th>
                    <th style="width:18%;" class="text-center">Wed, 15 July</th>
                    <th style="width:18%;" class="text-center">Thu, 16 July</th>
                    <th style="width:18%;" class="text-center">Fri, 17 July</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="time1"></td>
                    <td style="height:70px; background-color: #655E7A"></td>
                    <td rowspan="2">Doctoral Symposium</td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                  </tr>
                  <tr>
                    <td id="time2" style="height:100px;"></td>
                    <td>Tutorial 1a (Streaming)</td>
                    <td rowspan="2">Intro (15 mins), Keynote 1 (Tamer Özsu)</td>
                    <td>Keynote2 (Joelle Pineau)</td>
                    <td>Test-of-Time, Research Session 3 (Serverless)</td>
                  </tr>
                  <tr>
                    <td id="time3"></td>
                    <td rowspan="2">Discussion break</td>
                    <td rowspan="2">Discussion break</td>
                    <td rowspan="2">Discussion break</td>
                    <td rowspan="2">Discussion break</td>
                  </tr>
                  <tr>
                    <td id="time4"></td>
                    <td rowspan="2">Discussion break</td>

                  </tr>
                  <tr>
                    <td id="time5"></td>
                    <td rowspan="2">Tutorial 1b (Streaming)</td>
                    <td rowspan="2">Tutorial 2a (Blockchain)</td>
                    <td rowspan="2">Industry Session</td>
                    <td rowspan="2">Research Session 4 (Streams and IoT)</td>
                  </tr>
                  <tr>
                    <td id="time6" style="height:90px;"></td>
                    <td>Research Session 1 (Events)</td>

                  </tr>
                  <tr>
                    <td id="time7" style="height:150px;"></td>
                    <td>Lunch break</td>
                    <td>Lunch break</td>
                    <td>Lunch break</td>
                    <td>Lunch break</td>
                    <td>Lunch break</td>
                  </tr>
                  <tr>
                    <td id="time8" style="height:120px;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td>Tutorial 2b (Blockchain)</td>
                    <td>Research Session 2(Dependability)</td>
                    <td rowspan="2">Grand Challenge</td>
                    <td>Business Meeting Closing</td>
                  </tr>
                  <tr>
                    <td id="time9"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                  </tr>
                  <tr>
                    <td id="time10"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                    <td style="background-color: #655E7A;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="">
              <h1>{{ $data.fullprogram.title }}</h1>
            </div>
            <div>
              <h3>{{ $data.fullprogram.keynote1.title }}</h3>
              {{ range $data.fullprogram.keynote1.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.research1.title }}</h3>
              {{ range $data.fullprogram.research1.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.research2.title }}</h3>
              {{ range $data.fullprogram.research2.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.keynote2.title }}</h3>
              {{ range $data.fullprogram.keynote2.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.industry.title }}</h3>
              {{ range $data.fullprogram.industry.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.GC.title }}</h3>
              {{ range $data.fullprogram.GC.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.test.title }}</h3>
              {{ range $data.fullprogram.test.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div>
              <h3>{{ $data.fullprogram.research3.title }}</h3>
              {{ range $data.fullprogram.research3.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
            <div style="margin-bottom:150px;">
              <h3>{{ $data.fullprogram.research4.title }}</h3>
              {{ range $data.fullprogram.research4.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
