{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>{{ $data.keynotesection.title }}</h2>
        </div>
        <div class="keynote-container">

          <div class="keynote-box">
            <img src="{{ $data.keynotesection.people.image }}" alt="">
          </div>
          <div class="keynote-content">
            <div class="keynote-title">
              dfgfgd
            </div>
            <div class="keynote-name">
              sds
            </div>
          </div>
          <div class="keynote-box">

          </div>
          <div class="keynote-content">
            dsdsds
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
